.navbar {
    background-color: #ececec;
}

.navbar ul li {
    font-size: 13px;
    padding: 0 10px;
}

@media screen and (max-width: 567px){
    .nav-er-items{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
}

form li:hover{
    background-color: gray;
    color: whitesmoke;
    border-radius: 10px;
    padding: 10px 20px;
}